<?xml version="1.0" encoding="utf-8"?>
<!-- 日志插件配置 Begin -->
<nlog configSource="" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" archiveAboveSize="500000" fileName="${basedir}/App_Data/log.txt" layout="${longdate} ${level}${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file"/>
  </rules>
</nlog>